<launch>
    <!-- Activate Mobile-Base (True), Arm (True), Head (True) -->
    <arg name="enable_mb"       default="True" />
    <arg name="enable_arm"      default="True" />
    <arg name="enable_head"     default="True" />

    <!-- RVIZ: launch (True), not launch (False) -->
    <arg name="enable_rviz"     default="True"/>

    <!-- Probability of bring-up sound -->
    <param name="sound_param"   value="95"/>

    <!-- Use Sim Time -->
    <rosparam param="/use_sim_time">true</rosparam>

    <!-- Load Poses -->
    <include file="$(find sobit_pro_library)/launch/load_sobit_pro_pose.launch"/>

    <!-- Launch Gazebo World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find aws_robomaker_small_house_world)/worlds/small_house.world"/> -->
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="verbose" value="false"/>
    </include>

    <!-- Launch robot 1 -->
    <include file="$(find sobit_pro_sim_bringup)/launch/common.launch">
        <arg name="enable_mb"       value="$(arg enable_mb)"/>
        <arg name="enable_arm"      value="$(arg enable_arm)"/>
        <arg name="enable_head"     value="$(arg enable_head)"/>
        <arg name="enable_rviz"     value="$(arg enable_rviz)"/>
        <arg name="robot_namespace" value="sobit_pro"/>
        <arg name="coords"          value="-x 0 -y 0 -z 0"/>
    </include>

    <!-- Launch robot 2 -->
    <!-- <include file="$(find sobit_pro_sim_bringup)/launch/common.launch">
        <arg name="enable_mb"       value="$(arg enable_mb)"/>
        <arg name="enable_arm"      value="$(arg enable_arm)"/>
        <arg name="enable_head"     value="$(arg enable_head)"/>
        <arg name="enable_rviz"     value="$(arg enable_rviz)"/>
        <arg name="robot_namespace" value="sobit_pro_2"/>
        <arg name="coords"          value="-x 1 -y 1 -z 0"/>
    </include> -->

</launch>
