<launch>
    <!-- Activate Mobile-Base (True), Arm (True), Head (True) -->
    <arg name="enable_mb"       default="True" />
    <arg name="enable_arm"      default="True" />
    <arg name="enable_head"     default="True" />

    <!-- URG: lan-cable (true), usb-cable (false) -->
    <arg name="urg_lan"         default="True"/>

    <!-- RVIZ: launch (true), not launch (false) -->
    <arg name="enable_rviz"       default="True"/>

    <!-- Actuators Control-->
    <include file="$(find sobit_pro_control)/launch/sobit_pro_control.launch">
        <arg name="enable_mb"   value="$(arg enable_mb)"/>
        <arg name="enable_arm"  value="$(arg enable_arm)"/>
        <arg name="enable_head" value="$(arg enable_head)"/>
    </include>

    <!-- Probability of bring-up sound -->
    <param name="sound_param"   value="95"/>

    <!-- URG -->
    <include file="$(find sobit_pro_bringup)/launch/urg.launch">
        <arg name="urg_lan"     value="$(arg urg_lan)"/>
    </include>

    <!-- Azure Kinect -->
    <!-- <include file="$(find sobit_pro_bringup)/launch/azure_kinect.launch"/> -->

    <!-- RealSense -->
    <!-- <include file="$(find sobit_pro_bringup)/launch/realsense.launch"/> -->

    <!-- RVIZ -->
    <group if="$(arg enable_rviz)"> 
        <node name="rviz" pkg="rviz" type="rviz" required="false" args="-d $(find sobit_pro_bringup)/rviz/sobit_pro_bringup.rviz"/>
    </group>
</launch>
